@import "../../styles/common";

* {
    margin: 0;
    padding: 0;
}

.products {
    width:100%;
    margin: 0;
    padding: 0;
}



.name {
    font-size: 14px;
    margin: .5rem 0;
}

.contents {
    margin-bottom: 1rem;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 7rem;

    img {
        border-radius: 1%;
    }
}

h1, h2 {
}

.navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;

    li {
        margin-bottom: 1rem;
        img {
            width: 100%;
            border-radius: .2rem;
        }
    }
}


@media (max-width: 768px) {
    .contentWrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      .textWrapper {
        order: 2;
      }
  
      .imageWrapper {
        max-width: 100%;
        overflow: hidden;
        order: 1;
        
  
        img {
          width: 100%;
        }
      }
    }

    .navList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
