@import "../../styles/common";

* {
    margin: 0;
    padding: 0;
}

.about {
    width:100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width:1150px;
    margin: 0px auto;
    padding: 1rem 0 0;
    height: 100%;
    
}

.content {
    margin-bottom: 1rem;
    color: rgb(69, 68, 68);
    font-size: 1rem;
    line-height: 1.5rem;

    p {
        margin-bottom: 2rem;
    }
}

h1, h2 {
    margin-bottom: 1rem;
}
