@import "../../styles/common";

@font-face {
    font-family: 'Poppins';
    src:url('../../assets/fonts/Poppins/Poppins-Medium.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

.about {
    width:100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width:1150px;
    margin: 0px auto;
    padding: 1rem 0 0;
    height: 100%;
    
}

.content {
    margin-bottom: 1rem;
    color: rgb(69, 68, 68);
    font-size: 1rem;
    line-height: 1.5rem;

    p {
        margin-bottom: 2rem;
        color: #666;
        font-size: 1rem;
        font-family: Poppins,Arial,Helvetica,sans-serif
    }
}

.contentWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
