@import "../../styles/common";


.topNav {
    background: white;
    height: 150px;
    width:100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width:1150px;
    margin: 0px auto;
    height: 100%;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .logo {
        margin-right: 2rem;
        img {
            max-width: 150px;
        }
    }
}

.navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style-type: none;
    

    li {
        a {
            color: rgb(48, 72, 165);
            font-size: 20px;
            text-decoration: none;
            margin: 0 1.2rem;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
        
    }


}

@media(max-width:768px) {
    .topNav {
        display: none;
    }
}