// Colors

$primary-color: #FD6400;
$white: #fff;
$black: #000;
$dark-grey: #3A474E;
$light-grey: #E2E2E2;

//Fonts

// @font-face {
//     font-family: 'Fresh Sans';
//     src:url('../../assets/fonts/FreshSans-Medium.otf') format('opentype');
// }

$primary-font: 'Roboto', helvetica, sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$base-font-size: 16px;
$secondary-font-size: 14px;
