@import 'variables';
@import 'functions';


body, html {
    font-family: 'Roboto','Helvetica','Arial',sans-serif !important;
    font-size: px-to-rem(16);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.separator {
    margin: 0;
    color: #9d9c9c;
  }

h1 {
    color: rgb(48, 72, 165);
    margin: 2rem 0;
}

h2 {
    margin: 0 0 2rem;
}

.wrapper {
    max-width: 1150px;
    margin: 0px auto;
    height: 100%;
 }


