@import "../../styles/common";

* {
    margin: 0;
    padding: 0;
}

.home {
    width:100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width:1150px;
    margin: 0px auto;
    padding: 1rem 0 0;
    height: 100%;
    
}

.contents {
    margin-bottom: 1rem;
}



p {
    margin-bottom: 2rem;
    color: #666;
    font-size: 1rem;
    font-family: Poppins,Arial,Helvetica,sans-serif
}

h1, h2 {
    margin-bottom: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
