@import "../../styles/common";

.contactNav {
 
  width: 100%;
  margin: 0;
  padding: 0;
}

.logoNav {
  background:#eee;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items:center;
  margin: 0;
  padding: 0 1.2rem;
}

.wrapper {
  max-width: 1150px;
  margin: 0px auto;
  height: 100%;
}

.contents {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  background: #ddd;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  list-style-type: none;
  width: 100%;

  li {
    //color: #54595F;
    color: rgb(48, 72, 165);
    font-size: 14px;
    text-decoration: none;
    margin: 0 1rem;

    .navButton {
        font-size: 1.5rem;
    }

    .phone {
      margin-right: 0.5rem;
      position: relative;
      bottom: -2px;
      color: black;
    }

    .envelope {
      margin-right: 0.5rem;
      position: relative;
      bottom: -4px;
      color: black;
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .navList {
    justify-content: space-between;
    li {
      margin: 0;
    }

    
  }
}


