@import "../../styles/common";

.contactUs {
  padding: 0;
}

.wrapper {
  max-width: 1150px;
  margin: 0px auto;
  height: 100%;
  padding: 0 1.2rem;
}

.contents {
  display: flex;
  align-items: center;
  height: 100%;
}

p {
  margin-bottom: 1rem;
}

